* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

html {
    --s: 82px; /* control the size */
    --c1: #151a26;
    --c2: #000000;
    --c3: #003972;
    
    --_g: var(--c3) 0 120deg,#ffffff00 0;
    background:
      conic-gradient(from -60deg at 50% calc(100%/3),var(--_g)),
      conic-gradient(from 120deg at 50% calc(200%/3),var(--_g)),
      conic-gradient(from  60deg at calc(200%/3),var(--c3) 60deg,var(--c2) 0 120deg,#00000000 0),
      conic-gradient(from 180deg at calc(100%/3),var(--c1) 60deg,var(--_g)),
      linear-gradient(90deg,var(--c1)   calc(100%/6),var(--c2) 0 50%,
                            var(--c1) 0 calc(500%/6),var(--c2) 0);
    background-size: calc(1.732*var(--s)) var(--s);
  }
  

.cards {
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   cursor: pointer;
  
   box-shadow: 2px 2px 20px 20px rgb(33, 155, 255);
}

@media (max-width: 800px) {
    .cards {
      flex-direction: column;
    }
  }

.card {
    width:200px;
    height: 200px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    border:solid rgb(4, 96, 244) 5px;
    box-shadow: 2px 2px 20px 20px rgb(0, 0, 0);
   
}


.one {
    background-color: #0061b1;
    width: 60%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    text-align: center;
    border-radius: 10px 0 0 10px;
}
.one:hover{

}


.two {
    background-color: #004b89;
    width: 40%;
    height: 200px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    font-size:10px;

}

.day {
    background-color: #4ea4fa;
    font-size: 15px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 2px 2px 5px 1px rgb(0, 35, 66);
}

.date {

    background-color: #4ea4fa;
    font-size: 40px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 1px rgb(0, 35, 66);
}

.year {
    background-color: #0099ff;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 2px 2px 5px 1px rgb(1, 31, 58);
    
}

.month {
    background-color: #029aff;
    border-radius: 4px ;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: 2px 2px 5px 1px rgb(0, 35, 66);
   
}

header {
    position: absolute;
    top: 5%;
    width: 100%;
    color:rgb(66, 198, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    color:rgb(23, 119, 157);
    position: absolute;
    bottom: 0%;
    background-color: #5e5e5e00;
    min-width: 100%;
    height:20px;
    text-align: center;
    padding:2px ;

}